<a href="https://colab.research.google.com/github/yuanwei23/wqd7005_casestudy/blob/main/WQD7005_Case_Study_Datasets_Creation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Notebook Description: Dataset Creation for WQD7005 Case Study Final Exam

Input (Original Dataset from Kaggle): https://www.kaggle.com/datasets/vivek468/superstore-dataset-final?resource=download

Output: customer_info.csv, customer_spending.csv

Yuan Wei Kam S2158054

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
# Specify the encoding parameter
df = pd.read_csv("/content/Sample - Superstore.csv", encoding='latin1')

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9994 entries, 0 to 9993
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Row ID         9994 non-null   int64
 1   Order ID       9994 non-null   object
 2   Order Date     9994 non-null   object
 3   Ship Date      9994 non-null   object
 4   Ship Mode      9994 non-null   object
 5   Customer ID    9994 non-null   object
 6   Customer Name  9994 non-null   object
 7   Segment        9994 non-null   object
 8   Country        9994 non-null   object
 9   City           9994 non-null   object
 10  State          9994 non-null   object
 11  Postal Code    9994 non-null   int64
 12  Region         9994 non-null   object
 13  Product ID     9994 non-null   object
 14  Category       9994 non-null   object
 15  Sub-Category   9994 non-null   object
 16  Product Name   9994 non-null   object
 17  Sales          9994 non-null   float64
 18  Quantity       9994 non-null   int64
 19  Discount       9994 non-null   float64
 20  Profit         9994 non-null   float64
dtypes: float64(3), int64(3), object(15)
memory usage: 1.6+ MB

In [ ]:
import pandas as pd
import numpy as np
from datetime import datetime, timedelta

# Load your existing DataFrame
# df = pd.read_csv("/content/Sample - Superstore.csv", encoding='latin1')

# Add new columns
age_mean, age_std = 39, 12  # Adjust mean and standard deviation as needed
df['Age'] = np.random.normal(loc=age_mean, scale=age_std, size=len(df)).astype(float)
df['Age'] = np.clip(df['Age'], 18, 80).astype(int)  # Clip values and convert to integer

df['Gender'] = np.random.choice(['Male', 'Female'], size=len(df), p=[0.3, 0.7])  # Adjust probabilities
df['TotalPurchases'] = np.random.randint(1, 105, size=len(df))
df['TotalSpent'] = np.random.uniform(46.90, 13285.70, size=len(df))

# Define membership levels based on TotalSpent
df['MembershipLevel'] = pd.cut(df['TotalSpent'], bins=[-np.inf, 1000, 5000, 10000, np.inf],
                               labels=['Bronze', 'Silver', 'Gold', 'Platinum'])

# Define the function to generate LastPurchaseDate based on MembershipLevel
def generate_last_purchase_date(row):
    if row['MembershipLevel'] in ['Gold', 'Platinum']:
        # Generate a date after October 2023 with a higher probability for Gold and Platinum members
        if np.random.rand() < 0.8:  # Adjust the probability as needed (e.g., 80% chance)
            return np.random.choice(pd.date_range(start='2023-11-01', end='2023-12-31'), size=1)[0]
        else:
            return np.random.choice(pd.date_range(start='2023-01-01', end='2023-10-31'), size=1)[0]
    else:
        # Generate a date before or after October 2023 for other membership levels
        return np.random.choice(pd.date_range(start='2023-01-01', end='2023-12-31'), size=1)[0]

# Apply the function to each row
df['LastPurchaseDate'] = df.apply(generate_last_purchase_date, axis=1)

# Assuming df is your existing DataFrame, replace it with the correct variable name if needed
df['LastPurchaseDate'] = pd.to_datetime(df['LastPurchaseDate'], format='%d/%m/%Y')

# Set Churn based on LastPurchaseDate
df['Churn'] = np.where(df['LastPurchaseDate'] < datetime(2023, 10, 1), 1, 0)


# Add FavoriteCategory
categories = ['Electronics', 'Pet Supplies', 'Sports and Outdoors', 'Beauty',
              'Health & Personal Care', 'Home and Kitchen', 'Clothing', 'Furniture',
              'Grocery', 'Office Products']
df['FavoriteCategory'] = np.random.choice(categories, size=len(df))

# Display the modified DataFrame
print(df.head())

   Row ID        Order ID  Order Date   Ship Date       Ship Mode Customer ID  \
0       1  CA-2016-152156   11/8/2016  11/11/2016    Second Class    CG-12520
1       2  CA-2016-152156   11/8/2016  11/11/2016    Second Class    CG-12520
2       3  CA-2016-138688   6/12/2016   6/16/2016    Second Class    DV-13045
3       4  US-2015-108966  10/11/2015  10/18/2015  Standard Class    SO-20335
4       5  US-2015-108966  10/11/2015  10/18/2015  Standard Class    SO-20335

     Customer Name    Segment        Country             City  ... Discount  \
0      Claire Gute   Consumer  United States        Henderson  ...     0.00
1      Claire Gute   Consumer  United States        Henderson  ...     0.00
2  Darrin Van Huff  Corporate  United States      Los Angeles  ...     0.00
3   Sean O'Donnell   Consumer  United States  Fort Lauderdale  ...     0.45
4   Sean O'Donnell   Consumer  United States  Fort Lauderdale  ...     0.20

     Profit Age  Gender TotalPurchases    TotalSpent MembershipLevel  \
0   41.9136  30    Male             30   5206.283132            Gold
1  219.5820  29  Female             81  10262.683632        Platinum
2    6.8714  41  Female              6  11389.139833        Platinum
3 -383.0310  22  Female            102   4776.222359          Silver
4    2.5164  51  Female             67   6352.989485            Gold

   LastPurchaseDate  Churn        FavoriteCategory
0        2023-11-29      0                Clothing
1        2023-12-26      0               Furniture
2        2023-12-26      0               Furniture
3        2023-10-12      0               Furniture
4        2023-11-11      0  Health & Personal Care

[5 rows x 29 columns]

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9994 entries, 0 to 9993
Data columns (total 29 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Row ID            9994 non-null   int64
 1   Order ID          9994 non-null   object
 2   Order Date        9994 non-null   object
 3   Ship Date         9994 non-null   object
 4   Ship Mode         9994 non-null   object
 5   Customer ID       9994 non-null   object
 6   Customer Name     9994 non-null   object
 7   Segment           9994 non-null   object
 8   Country           9994 non-null   object
 9   City              9994 non-null   object
 10  State             9994 non-null   object
 11  Postal Code       9994 non-null   int64
 12  Region            9994 non-null   object
 13  Product ID        9994 non-null   object
 14  Category          9994 non-null   object
 15  Sub-Category      9994 non-null   object
 16  Product Name      9994 non-null   object
 17  Sales             9994 non-null   float64
 18  Quantity          9994 non-null   int64
 19  Discount          9994 non-null   float64
 20  Profit            9994 non-null   float64
 21  Age               9994 non-null   int64
 22  Gender            9994 non-null   object
 23  TotalPurchases    9994 non-null   int64
 24  TotalSpent        9994 non-null   float64
 25  MembershipLevel   9994 non-null   category
 26  LastPurchaseDate  9994 non-null   datetime64[ns]
 27  Churn             9994 non-null   int64
 28  FavoriteCategory  9994 non-null   object
dtypes: category(1), datetime64[ns](1), float64(4), int64(6), object(17)
memory usage: 2.1+ MB

In [ ]:
# Remove specified columns
columns_to_remove = ['Row ID','Customer ID','Customer Name','Order ID', 'Order Date', 'Ship Date', 'Ship Mode', 'Segment',
                      'Product ID', 'Category', 'Sub-Category', 'Product Name',
                      'Sales', 'Quantity', 'Discount', 'Profit']
df = df.drop(columns=columns_to_remove, errors='ignore')

# Display the modified DataFrame
print(df.head())

         Country             City       State  Postal Code Region  Age  \
0  United States        Henderson    Kentucky        42420  South   30
1  United States        Henderson    Kentucky        42420  South   29
2  United States      Los Angeles  California        90036   West   41
3  United States  Fort Lauderdale     Florida        33311  South   22
4  United States  Fort Lauderdale     Florida        33311  South   51

   Gender  TotalPurchases    TotalSpent MembershipLevel LastPurchaseDate  \
0    Male              30   5206.283132            Gold       2023-11-29
1  Female              81  10262.683632        Platinum       2023-12-26
2  Female               6  11389.139833        Platinum       2023-12-26
3  Female             102   4776.222359          Silver       2023-10-12
4  Female              67   6352.989485            Gold       2023-11-11

   Churn        FavoriteCategory
0      0                Clothing
1      0               Furniture
2      0               Furniture
3      0               Furniture
4      0  Health & Personal Care

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9994 entries, 0 to 9993
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Country           9994 non-null   object
 1   City              9994 non-null   object
 2   State             9994 non-null   object
 3   Postal Code       9994 non-null   int64
 4   Region            9994 non-null   object
 5   Age               9994 non-null   int64
 6   Gender            9994 non-null   object
 7   TotalPurchases    9994 non-null   int64
 8   TotalSpent        9994 non-null   float64
 9   MembershipLevel   9994 non-null   category
 10  LastPurchaseDate  9994 non-null   datetime64[ns]
 11  Churn             9994 non-null   int64
 12  FavoriteCategory  9994 non-null   object
dtypes: category(1), datetime64[ns](1), float64(1), int64(4), object(6)
memory usage: 947.0+ KB

In [ ]:
# Generate 'Income' column with values sampled from a normal distribution
income_mean, income_std = 72000, 22000  # Adjust mean and std as needed
df['Income'] = np.random.normal(loc=income_mean, scale=income_std, size=len(df))
df['Income'] = df['Income'].clip(22530, 167600).astype(int)  # Clip values and convert to integer

In [ ]:
# Introduce random missing values with random percentage (not exceeding 20%)
columns_with_missing = ['City', 'State', 'Region', 'Age', 'Gender', 'Churn', 'LastPurchaseDate','Income']

for column in columns_with_missing:
    # Generate random missing percentage (not exceeding 20%)
    missing_percentage = np.random.uniform(0, 20)
    # Generate random indices for missing values
    missing_indices = np.random.choice(df.index, size=int((missing_percentage / 100) * len(df)), replace=False)
    # Set values to NaN at selected indices
    df.loc[missing_indices, column] = np.nan

# Display the modified DataFrame
print(df.head())

         Country             City       State  Postal Code Region   Age  \
0  United States        Henderson    Kentucky        42420  South  30.0
1  United States        Henderson    Kentucky        42420  South  29.0
2  United States      Los Angeles  California        90036   West  41.0
3  United States              NaN     Florida        33311  South  22.0
4  United States  Fort Lauderdale     Florida        33311    NaN  51.0

   Gender  TotalPurchases    TotalSpent MembershipLevel LastPurchaseDate  \
0    Male              30   5206.283132            Gold       2023-11-29
1  Female              81  10262.683632        Platinum       2023-12-26
2  Female               6  11389.139833        Platinum       2023-12-26
3  Female             102   4776.222359          Silver       2023-10-12
4  Female              67   6352.989485            Gold       2023-11-11

   Churn        FavoriteCategory   Income
0    0.0                Clothing  74291.0
1    0.0               Furniture  65237.0
2    NaN               Furniture  85197.0
3    0.0               Furniture  68506.0
4    0.0  Health & Personal Care  97750.0

In [ ]:
# Check for missing values in all columns
missing_values = df.isnull().sum()

# Display the count of missing values in each column
print("Missing Values in Each Column:")
print(missing_values)

Missing Values in Each Column:
Country                0
City                 943
State               1390
Postal Code            0
Region               953
Age                 1419
Gender              1762
TotalPurchases         0
TotalSpent             0
MembershipLevel        0
LastPurchaseDate     509
Churn                288
FavoriteCategory       0
Income               905
dtype: int64

In [ ]:
# Ensure unique Customer IDs
unique_counter = np.arange(10000, 10000 + len(df))
np.random.shuffle(unique_counter)
df['Customer ID'] = unique_counter

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9994 entries, 0 to 9993
Data columns (total 15 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Country           9994 non-null   object
 1   City              9051 non-null   object
 2   State             8604 non-null   object
 3   Postal Code       9994 non-null   int64
 4   Region            9041 non-null   object
 5   Age               8575 non-null   float64
 6   Gender            8232 non-null   object
 7   TotalPurchases    9994 non-null   int64
 8   TotalSpent        9994 non-null   float64
 9   MembershipLevel   9994 non-null   category
 10  LastPurchaseDate  9485 non-null   datetime64[ns]
 11  Churn             9706 non-null   float64
 12  FavoriteCategory  9994 non-null   object
 13  Income            9089 non-null   float64
 14  Customer ID       9994 non-null   int64
dtypes: category(1), datetime64[ns](1), float64(4), int64(3), object(6)
memory usage: 1.1+ MB

In [ ]:
# Split the dataset into two separate datasets
df_part1 = df.iloc[:, np.r_[:7, 13, 14]].copy()
df_part2 = df.iloc[:, np.r_[7:13,14]].copy()

# Display the first part of the split dataset
print("\nDataFrame Part 1:")
print(df_part1.head())

DataFrame Part 1:
         Country             City       State  Postal Code Region   Age  \
0  United States        Henderson    Kentucky        42420  South  30.0
1  United States        Henderson    Kentucky        42420  South  29.0
2  United States      Los Angeles  California        90036   West  41.0
3  United States              NaN     Florida        33311  South  22.0
4  United States  Fort Lauderdale     Florida        33311    NaN  51.0

   Gender   Income  Customer ID
0    Male  74291.0        14075
1  Female  65237.0        15015
2  Female  85197.0        19822
3  Female  68506.0        11213
4  Female  97750.0        19564

In [ ]:
df_part1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9994 entries, 0 to 9993
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Country      9994 non-null   object
 1   City         9051 non-null   object
 2   State        8604 non-null   object
 3   Postal Code  9994 non-null   int64
 4   Region       9041 non-null   object
 5   Age          8575 non-null   float64
 6   Gender       8232 non-null   object
 7   Income       9089 non-null   float64
 8   Customer ID  9994 non-null   int64
dtypes: float64(2), int64(2), object(5)
memory usage: 702.8+ KB

In [ ]:
# Display the second part of the split dataset
print("\nDataFrame Part 2:")
print(df_part2.head())

DataFrame Part 2:
   TotalPurchases    TotalSpent MembershipLevel LastPurchaseDate  Churn  \
0              30   5206.283132            Gold       2023-11-29    0.0
1              81  10262.683632        Platinum       2023-12-26    0.0
2               6  11389.139833        Platinum       2023-12-26    NaN
3             102   4776.222359          Silver       2023-10-12    0.0
4              67   6352.989485            Gold       2023-11-11    0.0

         FavoriteCategory  Customer ID
0                Clothing        14075
1               Furniture        15015
2               Furniture        19822
3               Furniture        11213
4  Health & Personal Care        19564

In [ ]:
df_part2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9994 entries, 0 to 9993
Data columns (total 7 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   TotalPurchases    9994 non-null   int64
 1   TotalSpent        9994 non-null   float64
 2   MembershipLevel   9994 non-null   category
 3   LastPurchaseDate  9485 non-null   datetime64[ns]
 4   Churn             9706 non-null   float64
 5   FavoriteCategory  9994 non-null   object
 6   Customer ID       9994 non-null   int64
dtypes: category(1), datetime64[ns](1), float64(2), int64(2), object(1)
memory usage: 478.6+ KB

In [ ]:
# Export the two DataFrame parts to CSV files
df_part1.to_csv('customer_info.csv', index=False)
df_part2.to_csv('customer_spending.csv', index=False)